<%- include('../partials/header') %>

<div class="login-modal">
  <div class="content">
    <h1>Editar Usuário</h1>
    <form
      id="editForm"
      action="/users/<%= user.id %>"
      method="POST"
      class="edit-form"
    >
      <label for="name">Nome:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= user.name %>"
        required
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= user.email %>"
        required
      />

      <div class="button-group">
        <button type="button" onclick="updateUser()" class="button">
          Salvar
        </button>
        <a href="/users" class="button cancel-button">Cancelar</a>
      </div>
    </form>
  </div>
</div>

<script>
  async function updateUser() {
    const userId = "<%= user.id %>";
    const name = document.getElementById("name").value;
    const email = document.getElementById("email").value;

    try {
      const response = await fetch(`/users/${userId}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ name, email }),
      });

      if (!response.ok) {
        throw new Error("Erro ao atualizar usuário");
      }

      // Redirecionar ou fazer algo após o sucesso
      window.location.href = "/users";
    } catch (error) {
      console.error("Erro ao atualizar usuário:", error);
      // Tratar o erro aqui, se necessário
    }
  }
</script>

<%- include('../partials/footer') %>
